## Miscellaneous notes/thoughts

### 10/6/21 Thoughts

**Reason for prioritizing the draft**
To win, you need to have the best team. Working the waivers helps a lot, but most of the players who end up moving the needle for your team will be drafted. Therefore, it make sense to focus on a draft-only model for now.

**Thesis**: To have the best draft, you need to get the right player at the right time. The #1 QB will probably score the most points in any given season, there are many more viable QB options than there are viable RB/WR options.

As a result, this will need to be a combination of WAR vs. ADP, with some balance between overall WAR and positional scarcity.

We can add in sentiment analysis for estimating changes to ADP (and can also include an Eagles bias). We'll also want to update this to remove people with unexpected late injuries.

**Data source**: I grabbed position projections from [Fantasy Pros](https://www.fantasypros.com/nfl/projections/qb.php?week=draft) and downloaded a CSV for each position

## 10/28 Thoughts
Create weighted value for player based on current spot in draft, WAR, and ADP

## Next Steps

Finish processing positional data

## The Code

In [1]:
import numpy as np
import pandas as pd
import requests
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

## Initial Player Pool

### Quarterbacks

In [68]:
qbs = pd.read_csv("QB_Projections_FantasyPros_2021.csv")

In [69]:
qbs = qbs.rename(columns={
    'ATT': 'Pass_Att',
    'CMP': 'Cmp',
    'YDS': 'Pass_Yds',
    'TDS': 'Pass_TDs',
    'INTS': 'Interceptions',
    'ATT.1': 'Rush_Att',
    'YDS.1': 'Rush_Yds',
    'TDS.1': 'Rush_TDs',
    'FL': 'Fumbles_Lost'
})

We likely only care about the first 30 QBs

In [20]:
qbs = qbs[0:31]

We need to convert numeric quantities to floats

In [21]:
pass_yds = []

for player, row in qbs.iterrows():
    pass_yds.append(float(str(row['Pass_Yds']).replace(',', '')))

In [22]:
qbs['Pass_Yds'] = pass_yds
qbs.head()

,Team,Pass_Att,Cmp,Pass_Yds,Pass_TDs,Interceptions,Rush_Att,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS
Player,,,,,,,,,,,
Josh Allen,BUF,595.4,394.6,4574.9,33.3,12.9,109.3,517.3,7.2,4.3,389.3
Patrick Mahomes II,KC,620.8,413.1,5027.6,38.0,9.5,55.5,289.8,2.8,1.8,386.0
Kyler Murray,ARI,585.6,389.0,4261.8,27.6,12.7,128.1,726.5,7.3,2.8,379.4
Lamar Jackson,BAL,462.7,298.5,3406.2,28.1,11.5,154.5,952.7,7.3,3.4,369.2
Dak Prescott,DAL,623.9,418.7,4886.1,31.5,11.3,64.1,298.1,4.3,3.0,359.4

Creating a list to store points for our league's scoring system

In [23]:
player_points = []
for player in qbs.index:
    points = ((.04 * qbs['Pass_Yds'][player])
            + (4 * qbs['Pass_TDs'][player])
            - (2 * qbs['Interceptions'][player])
            + (.1 * qbs['Rush_Yds'][player])
            + (6 * qbs['Rush_TDs'][player])
            - (2 * qbs['Fumbles_Lost'][player]))
    
    points = np.round(points, 2)

    player_points.append(points)

In [24]:
qbs['FPTS'] = player_points

qbs.head()

,Team,Pass_Att,Cmp,Pass_Yds,Pass_TDs,Interceptions,Rush_Att,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS
Player,,,,,,,,,,,
Josh Allen,BUF,595.4,394.6,4574.9,33.3,12.9,109.3,517.3,7.2,4.3,376.73
Patrick Mahomes II,KC,620.8,413.1,5027.6,38.0,9.5,55.5,289.8,2.8,1.8,376.28
Kyler Murray,ARI,585.6,389.0,4261.8,27.6,12.7,128.1,726.5,7.3,2.8,366.32
Lamar Jackson,BAL,462.7,298.5,3406.2,28.1,11.5,154.5,952.7,7.3,3.4,357.92
Dak Prescott,DAL,623.9,418.7,4886.1,31.5,11.3,64.1,298.1,4.3,3.0,348.45

### Running Backs

In [25]:
rbs = pd.read_csv("RB_Projections_FantasyPros_2021.csv")

In [26]:
rbs = rbs.rename(columns={
    'YDS': 'Rush_Yds',
    'TDS': 'Rush_TDs',
    'REC': 'Rec',
    'YDS.1': 'Rec_Yds',
    'TDS.1': 'Rec_TDs',
    'FL': 'Fumbles_Lost'
})

We'll grab the first 75 for now

In [27]:
rbs = rbs[:75]

In [28]:
rush_yds = []
rec_yds = []

for player, row in rbs.iterrows():
    rush_yds.append(float(str(row['Rush_Yds']).replace(',', '')))  
    rec_yds.append(float(str(row['Rec_Yds']).replace(',', '')))

In [29]:
rbs['Rush_Yds'] = rush_yds
rbs['Rec_Yds'] = rec_yds
rbs.head()

,Player,Team,ATT,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_TDs,Fumbles_Lost,FPTS
0,Christian McCaffrey,CAR,293.9,1267.9,11.6,92.7,755.8,4.4,1.7,295.3
1,Dalvin Cook,MIN,312.7,1456.3,12.9,55.6,476.5,2.1,2.6,278.6
2,Derrick Henry,TEN,350.1,1724.3,14.0,24.8,188.1,1.0,2.6,276.2
3,Alvin Kamara,NO,208.5,1008.5,10.4,82.0,703.9,3.4,1.5,251.2
4,Aaron Jones,GB,231.1,1145.9,10.0,54.4,413.5,2.8,1.6,229.5

Since wide receivers and RBs have the same scoring systems, we'll create a function that can be used for both positions

In [30]:
def rbwr_points(position_df):
    """Creates a list of fantasy point values for the provided dataframe and
    then updates the fantasy point values for that dataframe."""
    
    position_points = []
    
    # Calculate projected point values for each player in the DataFrame
    for player in position_df.index:
        points = 0
        
        points = (.1 * position_df['Rush_Yds'][player]
                 + 6 * position_df['Rush_TDs'][player]
                 + 0.5 * position_df['Rec'][player]
                 + 0.1 * position_df['Rec_Yds'][player]
                 + 6 * position_df['Rec_TDs'][player]
                 - 2 * position_df['Fumbles_Lost'][player])

        points = np.round(points, 2)

        position_points.append(points)
    
    position_df['FPTS'] = position_points

In [31]:
rbwr_points(rbs)

In [32]:
rbs.head()

,Player,Team,ATT,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_TDs,Fumbles_Lost,FPTS
0,Christian McCaffrey,CAR,293.9,1267.9,11.6,92.7,755.8,4.4,1.7,341.32
1,Dalvin Cook,MIN,312.7,1456.3,12.9,55.6,476.5,2.1,2.6,305.88
2,Derrick Henry,TEN,350.1,1724.3,14.0,24.8,188.1,1.0,2.6,288.44
3,Alvin Kamara,NO,208.5,1008.5,10.4,82.0,703.9,3.4,1.5,292.04
4,Aaron Jones,GB,231.1,1145.9,10.0,54.4,413.5,2.8,1.6,256.74

### Wide Receivers

In [33]:
wrs = pd.read_csv("WR_Projections_FantasyPros_2021.csv")

In [34]:
wrs = wrs.rename(columns={
    'REC': 'Rec',
    'YDS': 'Rec_Yds',
    'TDS': 'Rec_TDs',
    'YDS.1': 'Rush_Yds',
    'TDS.1': 'Rush_TDs',
    'FL': 'Fumbles_Lost'
})
wrs.head()

,Player,Team,Rec,Rec_Yds,Rec_TDs,ATT,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS
0,Tyreek Hill,KC,102.0,"1,457.50",12.0,13.1,83.7,0.9,0.5,230.6
1,Davante Adams,GB,124.2,"1,485.30",12.8,0.0,0.0,0.0,0.5,224.4
2,Stefon Diggs,BUF,115.1,"1,490.90",9.5,2.1,13.7,0.0,0.8,206.3
3,Calvin Ridley,ATL,101.0,"1,441.40",9.0,3.9,22.6,0.1,0.5,199.7
4,Justin Jefferson,MIN,96.2,"1,434.30",8.1,0.7,3.8,0.0,0.5,191.3

In [35]:
rush_yds = []
rec_yds = []

for player, row in wrs.iterrows():
    rec_yds.append(float(str(row['Rec_Yds']).replace(',', '')))
    rush_yds.append(float(str(row['Rush_Yds']).replace(',', '')))  
    
wrs['Rush_Yds'] = rush_yds
wrs['Rec_Yds'] = rec_yds
wrs.head()

,Player,Team,Rec,Rec_Yds,Rec_TDs,ATT,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS
0,Tyreek Hill,KC,102.0,1457.5,12.0,13.1,83.7,0.9,0.5,230.6
1,Davante Adams,GB,124.2,1485.3,12.8,0.0,0.0,0.0,0.5,224.4
2,Stefon Diggs,BUF,115.1,1490.9,9.5,2.1,13.7,0.0,0.8,206.3
3,Calvin Ridley,ATL,101.0,1441.4,9.0,3.9,22.6,0.1,0.5,199.7
4,Justin Jefferson,MIN,96.2,1434.3,8.1,0.7,3.8,0.0,0.5,191.3

In [36]:
wrs.head()

,Player,Team,Rec,Rec_Yds,Rec_TDs,ATT,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS
0,Tyreek Hill,KC,102.0,1457.5,12.0,13.1,83.7,0.9,0.5,230.6
1,Davante Adams,GB,124.2,1485.3,12.8,0.0,0.0,0.0,0.5,224.4
2,Stefon Diggs,BUF,115.1,1490.9,9.5,2.1,13.7,0.0,0.8,206.3
3,Calvin Ridley,ATL,101.0,1441.4,9.0,3.9,22.6,0.1,0.5,199.7
4,Justin Jefferson,MIN,96.2,1434.3,8.1,0.7,3.8,0.0,0.5,191.3

In [37]:
rbwr_points(wrs)

wrs.head()

,Player,Team,Rec,Rec_Yds,Rec_TDs,ATT,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS
0,Tyreek Hill,KC,102.0,1457.5,12.0,13.1,83.7,0.9,0.5,281.52
1,Davante Adams,GB,124.2,1485.3,12.8,0.0,0.0,0.0,0.5,286.43
2,Stefon Diggs,BUF,115.1,1490.9,9.5,2.1,13.7,0.0,0.8,263.41
3,Calvin Ridley,ATL,101.0,1441.4,9.0,3.9,22.6,0.1,0.5,250.50
4,Justin Jefferson,MIN,96.2,1434.3,8.1,0.7,3.8,0.0,0.5,239.51

### Tight Ends

In [38]:
tes = pd.read_csv("TE_Projections_FantasyPros_2021.csv")

In [39]:
tes.head()

           Player Team    REC       YDS   TDS   FL   FPTS
0    Travis Kelce   KC  112.3  1,405.20  10.4  0.5  201.7
1   Darren Waller   LV  104.0  1,209.10   7.9  0.6  167.1
2   George Kittle   SF   92.0  1,138.70   6.5  0.4  152.0
3    Mark Andrews  BAL   72.9     878.4   8.0  0.6  134.8
4  T.J. Hockenson  DET   75.5     838.3   5.3  0.5  114.5

In [40]:
tes = tes.rename(columns={
    'REC': 'Rec',
    'YDS': 'Yds',
    'TDS': 'TDs',
    'FL': 'Fumbles_Lost'
})

In [41]:
rec_yds = []

for player, row in tes.iterrows():
    rec_yds.append(float(str(row['Yds']).replace(',', '')))
    
tes['Yds'] = rec_yds
tes.head()

           Player Team    Rec     Yds   TDs  Fumbles_Lost   FPTS
0    Travis Kelce   KC  112.3  1405.2  10.4           0.5  201.7
1   Darren Waller   LV  104.0  1209.1   7.9           0.6  167.1
2   George Kittle   SF   92.0  1138.7   6.5           0.4  152.0
3    Mark Andrews  BAL   72.9   878.4   8.0           0.6  134.8
4  T.J. Hockenson  DET   75.5   838.3   5.3           0.5  114.5

In [42]:
player_points = []
for player in tes.index:
    points = ((.1 * tes['Yds'][player])
            + (.5 * tes['Rec'][player])
            - (2 * tes['Fumbles_Lost'][player])
            + (6 * tes['TDs'][player]))
    
    points = np.round(points, 2)

    player_points.append(points)

tes.FPTS = player_points

In [43]:
tes.head()

           Player Team    Rec     Yds   TDs  Fumbles_Lost    FPTS
0    Travis Kelce   KC  112.3  1405.2  10.4           0.5  258.07
1   Darren Waller   LV  104.0  1209.1   7.9           0.6  219.11
2   George Kittle   SF   92.0  1138.7   6.5           0.4  198.07
3    Mark Andrews  BAL   72.9   878.4   8.0           0.6  171.09
4  T.J. Hockenson  DET   75.5   838.3   5.3           0.5  152.38

### Defense/Special Teams

Implementing scraping for defenses

In [2]:
dst_projections = requests.get("https://www.fantasypros.com/nfl/projections/dst.php?week=draft")
dst_projections

In [3]:
dst_soup = BeautifulSoup(dst_projections.content, 'html.parser')

In [4]:
d_stat_projections = dst_soup.find_all(class_='mobile-table')
condensed_d_stats = d_stat_projections[0]

In [5]:
player_class = []

for identifier in range(8000, 8311, 10):
    player_class.append(identifier)

In [6]:
full_class = []
for identifier in range(len(player_class)):
    player_class_name = ('mpb-player-' +
                         str(player_class[identifier]) +
                         ' js-tr-game-select')
    full_class.append(player_class_name)

In [7]:
all_d_info = []
for f in range(len(full_class)):
    team_info = condensed_d_stats.find(class_=full_class[f]).get_text()
    all_d_info.append(team_info)

In [8]:
for defense in range(len(all_d_info)):
    all_d_info[defense] = all_d_info[defense].replace(' ', '')
    all_d_info[defense] = all_d_info[defense].replace('\n', ',')
    all_d_info[defense] = all_d_info[defense][:len(all_d_info[defense])-1]

In [9]:
formatted_d_stats = []
for defense in range(len(all_d_info)):
    formatted_d = all_d_info[defense].split(',')
    
    for stat in range(len(formatted_d)):
        try:
            formatted_d[stat] = float(formatted_d[stat])
        
        except ValueError:
            pass
    
    formatted_d_stats.append(formatted_d)

In [10]:
defense_df = pd.DataFrame(formatted_d_stats,
                         columns=('Player', 'Sacks', 'Ints',
                                  'Fumble_Recoveries', 'Forced_Fumbles', 'TDs',
                                  'TDs', 'Safeties', 'Points_Against',
                                  'Yds_Against', 'FPTS'))

defense_df.head()

In [11]:
defense_df.head()

,Player,Sacks,Ints,Fumble_Recoveries,Forced_Fumbles,TDs,TDs,Safeties,Points_Against,Yds_Against,FPTS
0,ArizonaCardinals,46.5,12.2,10.6,16.9,2.3,0.9,390.0,5.0,963.9,107.6
1,AtlantaFalcons,35.0,13.4,10.5,17.4,2.5,0.2,407.4,6.0,294.3,98.1
2,BaltimoreRavens,38.2,13.1,11.3,17.7,3.0,0.9,352.3,5.0,661.4,106.8
3,BuffaloBills,40.7,14.9,9.7,15.0,2.6,0.2,366.5,5.0,736.0,106.1
4,CarolinaPanthers,37.3,13.9,11.7,20.3,2.5,0.6,418.7,6.0,48.9,105.0

Storing to a csv so I don't have to run scrape the data every time.

In [13]:
defense_df.to_csv('2021_dst_projections.csv')

### Kickers

The classes for each player aren't in any obvious pattern so I downloaded the CSV directly rather than practice scraping here.

In [14]:
kickers = pd.read_csv("K_Projections_FantasyPros_2021.csv")

In [15]:
kickers.head()

            Player Team    FG   FGA   XPT   FPTS
0    Justin Tucker  BAL  28.3  32.6  49.5  134.4
1  Harrison Butker   KC  28.8  33.3  47.1  133.4
2    Greg Zuerlein  DAL  28.0  35.9  44.5  128.6
3       Tyler Bass  BUF  26.9  33.0  46.9  127.6
4      Ryan Succop   TB  26.3  31.6  48.3  127.1

We don't have the point granularity to modify FPTs so we'll just use the estimated projected points here.

## Overall Player Pool

We want the player, the position, and their points.

Let's first add position abbreviations to each dataframe

In [45]:
rb_pos = []
for player in range(len(rbs)):
    rb_pos.append('rb')
    
rbs['Pos'] = rb_pos

In [46]:
rbs.head()

,Player,Team,ATT,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_TDs,Fumbles_Lost,FPTS,Pos
0,Christian McCaffrey,CAR,293.9,1267.9,11.6,92.7,755.8,4.4,1.7,341.32,rb
1,Dalvin Cook,MIN,312.7,1456.3,12.9,55.6,476.5,2.1,2.6,305.88,rb
2,Derrick Henry,TEN,350.1,1724.3,14.0,24.8,188.1,1.0,2.6,288.44,rb
3,Alvin Kamara,NO,208.5,1008.5,10.4,82.0,703.9,3.4,1.5,292.04,rb
4,Aaron Jones,GB,231.1,1145.9,10.0,54.4,413.5,2.8,1.6,256.74,rb

In [48]:
qb_pos = []

for player in range(len(qbs)):
    qb_pos.append('qb')

qbs['Pos'] = qb_pos
    
qbs.head()

,Player,Team,Pass_Att,Cmp,Pass_Yds,Pass_TDs,Interceptions,Rush_Att,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS,Pos
0,Josh Allen,BUF,595.4,394.6,"4,574.90",33.3,12.9,109.3,517.3,7.2,4.3,389.3,qb
1,Patrick Mahomes II,KC,620.8,413.1,"5,027.60",38.0,9.5,55.5,289.8,2.8,1.8,386.0,qb
2,Kyler Murray,ARI,585.6,389.0,"4,261.80",27.6,12.7,128.1,726.5,7.3,2.8,379.4,qb
3,Lamar Jackson,BAL,462.7,298.5,"3,406.20",28.1,11.5,154.5,952.7,7.3,3.4,369.2,qb
4,Dak Prescott,DAL,623.9,418.7,"4,886.10",31.5,11.3,64.1,298.1,4.3,3.0,359.4,qb

In [49]:
wr_pos = []

for player in range(len(wrs)):
    wr_pos.append('wr')
    
wrs['Pos'] = wr_pos
wrs.head()

,Player,Team,Rec,Rec_Yds,Rec_TDs,ATT,Rush_Yds,Rush_TDs,Fumbles_Lost,FPTS,Pos
0,Tyreek Hill,KC,102.0,1457.5,12.0,13.1,83.7,0.9,0.5,281.52,wr
1,Davante Adams,GB,124.2,1485.3,12.8,0.0,0.0,0.0,0.5,286.43,wr
2,Stefon Diggs,BUF,115.1,1490.9,9.5,2.1,13.7,0.0,0.8,263.41,wr
3,Calvin Ridley,ATL,101.0,1441.4,9.0,3.9,22.6,0.1,0.5,250.50,wr
4,Justin Jefferson,MIN,96.2,1434.3,8.1,0.7,3.8,0.0,0.5,239.51,wr

In [50]:
te_pos = []

for player in range(len(tes)):
    te_pos.append('te')
    
tes['Pos'] = te_pos
tes.head()

           Player Team    Rec     Yds   TDs  Fumbles_Lost    FPTS Pos
0    Travis Kelce   KC  112.3  1405.2  10.4           0.5  258.07  te
1   Darren Waller   LV  104.0  1209.1   7.9           0.6  219.11  te
2   George Kittle   SF   92.0  1138.7   6.5           0.4  198.07  te
3    Mark Andrews  BAL   72.9   878.4   8.0           0.6  171.09  te
4  T.J. Hockenson  DET   75.5   838.3   5.3           0.5  152.38  te

In [51]:
dst_pos = []

for player in range(len(defense_df)):
    dst_pos.append('dst')
    
defense_df['Pos'] = dst_pos
defense_df.head()

,Player,Sacks,Ints,Fumble_Recoveries,Forced_Fumbles,TDs,TDs,Safeties,Points_Against,Yds_Against,FPTS,Pos
0,ArizonaCardinals,46.5,12.2,10.6,16.9,2.3,0.9,390.0,5.0,963.9,107.6,dst
1,AtlantaFalcons,35.0,13.4,10.5,17.4,2.5,0.2,407.4,6.0,294.3,98.1,dst
2,BaltimoreRavens,38.2,13.1,11.3,17.7,3.0,0.9,352.3,5.0,661.4,106.8,dst
3,BuffaloBills,40.7,14.9,9.7,15.0,2.6,0.2,366.5,5.0,736.0,106.1,dst
4,CarolinaPanthers,37.3,13.9,11.7,20.3,2.5,0.6,418.7,6.0,48.9,105.0,dst

In [53]:
k_pos = []

for player in range(len(kickers)):
    k_pos.append('k')
    
kickers['Pos'] = k_pos
kickers.head()

            Player Team    FG   FGA   XPT   FPTS Pos
0    Justin Tucker  BAL  28.3  32.6  49.5  134.4   k
1  Harrison Butker   KC  28.8  33.3  47.1  133.4   k
2    Greg Zuerlein  DAL  28.0  35.9  44.5  128.6   k
3       Tyler Bass  BUF  26.9  33.0  46.9  127.6   k
4      Ryan Succop   TB  26.3  31.6  48.3  127.1   k

In [92]:
qbs.set_index(['Player', 'FPTS', 'Pos'])
rbs.set_index(['Player', 'FPTS', 'Pos'])
wrs.set_index(['Player', 'FPTS', 'Pos'])
tes.set_index(['Player', 'FPTS', 'Pos'])
kickers.set_index(['Player', 'FPTS', 'Pos'])
defense_df.set_index(['Player', 'FPTS', 'Pos'])

,,,Sacks,Ints,Fumble_Recoveries,Forced_Fumbles,TDs,TDs,Safeties,Points_Against,Yds_Against
Player,FPTS,Pos,,,,,,,,,
ArizonaCardinals,107.6,dst,46.5,12.2,10.6,16.9,2.3,0.9,390.0,5.0,963.9
AtlantaFalcons,98.1,dst,35.0,13.4,10.5,17.4,2.5,0.2,407.4,6.0,294.3
BaltimoreRavens,106.8,dst,38.2,13.1,11.3,17.7,3.0,0.9,352.3,5.0,661.4
BuffaloBills,106.1,dst,40.7,14.9,9.7,15.0,2.6,0.2,366.5,5.0,736.0
CarolinaPanthers,105.0,dst,37.3,13.9,11.7,20.3,2.5,0.6,418.7,6.0,48.9
ChicagoBears,98.0,dst,37.1,12.5,10.4,16.9,2.2,0.9,392.2,5.0,854.8
CincinnatiBengals,86.1,dst,29.1,13.0,8.8,13.9,2.1,0.5,434.1,6.0,349.3
ClevelandBrowns,104.5,dst,39.4,14.2,10.2,15.2,2.4,0.9,388.2,5.0,913.2
DallasCowboys,104.1,dst,38.7,13.1,11.6,19.5,2.6,0.2,407.1,6.0,144.3
DenverBroncos,101.7,dst,41.2,12.8,9.2,13.9,2.5,0.8,398.2,5.0,871.4
DetroitLions,87.2,dst,33.8,11.0,8.9,14.1,2.1,0.5,464.4,6.0,660.3
GreenBayPackers,107.9,dst,41.9,15.6,9.2,14.3,2.5,0.5,377.0,5.0,894.2
HoustonTexans,89.3,dst,35.4,11.1,9.1,14.1,2.1,0.5,461.0,6.0,647.3
IndianapolisColts,110.6,dst,42.2,14.1,10.6,17.1,2.9,0.9,382.6,5.0,784.1
JacksonvilleJaguars,91.6,dst,33.6,12.6,8.6,12.6,2.4,0.5,448.4,6.0,495.9
KansasCityChiefs,105.0,dst,38.1,14.5,9.6,14.9,3.0,0.5,386.1,5.0,998.5
MiamiDolphins,104.5,dst,39.4,15.1,8.8,15.7,2.6,0.9,395.8,6.0,187.1
MinnesotaVikings,98.0,dst,36.0,14.2,9.2,14.7,2.5,0.2,395.7,6.0,136.0
NewEnglandPatriots,106.2,dst,40.5,15.4,9.1,12.6,2.6,0.5,361.7,5.0,824.8
NewOrleansSaints,108.1,dst,43.5,15.0,9.5,13.2,2.5,0.2,371.2,5.0,676.4
NewYorkGiants,100.9,dst,39.3,13.0,10.0,16.8,2.4,0.5,410.1,6.0,86.2
NewYorkJets,93.0,dst,36.0,12.4,9.4,15.4,2.2,0.2,431.0,6.0,38.1
LasVegasRaiders,92.9,dst,33.3,13.2,9.4,14.1,2.3,0.2,438.0,6.0,184.4
PhiladelphiaEagles,107.3,dst,44.7,12.6,10.4,16.3,2.5,0.9,405.7,6.0,58.9
PittsburghSteelers,115.4,dst,47.1,14.9,10.4,15.7,2.7,0.9,358.5,5.0,547.4
LosAngelesChargers,101.3,dst,38.9,13.8,8.9,12.0,2.7,0.5,389.6,5.0,736.6
SeattleSeahawks,106.7,dst,41.8,13.9,10.1,14.9,2.4,1.2,389.0,5.0,995.3
SanFrancisco49ers,104.5,dst,41.4,13.1,10.4,16.8,2.5,0.5,375.7,5.0,505.1
LosAngelesRams,113.9,dst,45.9,14.4,10.7,15.8,2.7,0.9,366.0,5.0,581.5
TampaBayBuccaneers,119.2,dst,46.5,15.8,11.1,17.4,2.8,0.9,366.0,5.0,515.5
TennesseeTitans,97.3,dst,34.8,14.4,9.2,14.1,2.4,0.2,409.9,6.0,189.2
WashingtonFootballTeam,111.3,dst,46.3,14.3,10.5,15.6,2.4,0.5,373.0,5.0,604.8

In [94]:
qb_subset = qbs[['Player', 'FPTS', 'Pos']]
rb_subset = rbs[['Player', 'FPTS', 'Pos']]
wr_subset = wrs[['Player', 'FPTS', 'Pos']]
te_subset = tes[['Player', 'FPTS', 'Pos']]
dst_subset = defense_df[['Player', 'FPTS', 'Pos']]
k_subset = kickers[['Player', 'FPTS', 'Pos']]

In [91]:
qb_subset.head()

               Player   FPTS Pos
0          Josh Allen  389.3  qb
1  Patrick Mahomes II  386.0  qb
2        Kyler Murray  379.4  qb
3       Lamar Jackson  369.2  qb
4        Dak Prescott  359.4  qb

In [95]:
k_subset.head()

            Player   FPTS Pos
0    Justin Tucker  134.4   k
1  Harrison Butker  133.4   k
2    Greg Zuerlein  128.6   k
3       Tyler Bass  127.6   k
4      Ryan Succop  127.1   k

In [103]:
player_pool = pd.concat([
    qb_subset,
    rb_subset,
    wr_subset,
    te_subset,
    dst_subset,
    k_subset
])

In [106]:
player_pool.shape

(611, 3)

In [107]:
player_pool.head()

               Player   FPTS Pos
0          Josh Allen  389.3  qb
1  Patrick Mahomes II  386.0  qb
2        Kyler Murray  379.4  qb
3       Lamar Jackson  369.2  qb
4        Dak Prescott  359.4  qb

## Final function for who to draft

In [2]:
def who_should_i_draft(last_selected_player, position_of_need=''):
    """Return the player to draft next based on the last selected player."""
    return player_to_draft

## Function for my current team

In [ ]:
def update_team(drafted_player):
    """Updates team info based on the most recently drafted player."""
    # Get the player's position
    
    # Update team position construction
        # If quarterback, update the QB count
        # Else if RB, update the RB count
        # Else if WR, update the WR count
        # Else if TE, update the TE count
        # Else if D/ST, update the D/ST count
        # Else update the K count
        
    # Update team's overall WAR
    
    # Update team's positional WAR

## Sentiment analysis for ADP adjustment

Here, we will extract recent articles about players and return scaled values to adjust their expected ADP accordingly.